<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="static/stylesheet.css">
  <title>Hike Finder</title>
</head>


<body>
  <div>
    <h1>HIKE FINDER</h1>
    <h3>Where Do You Want To Hike Today?</h3>
  </div>

  <hr>

  {% for message in get_flashed_messages() %}
    <li> {{ message }}</li>
  {% endfor %}

    <hr>

  <div id="map"></div>

  <div id="json_of_hikes">
    <ul>
    </ul>
  </div>


  {% block content %} put your content here {% endblock %}

  <script src="static/get_trail_list.js"></script>
</body>
</html>