<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <!-- from google geocode -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="static/stylesheet.css">

    <title>Hike Finder</title>

  </head>



  <body>
 
    <div class="page-header">
      <h1>HIKE FINDER <small>Where Do You Want To Hike Today?</small></h1>
    </div>
    
    {% if "current_user" in session %}
      <form action="/logout">
          <input type="submit" value="Logout">
      </form>
    {% else %}
      <form action="/login">
          <input type="submit" value="Login">
      </form>
    {% endif %}


    <hr>

    {% for message in get_flashed_messages() %}
      <li> {{ message }}</li>
    {% endfor %}
<!--     <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="..." alt="...">
        </a>
      </div>
    </div> -->

    <hr>

    <div id="map"></div>

    {% block content %} put your content here {% endblock %}


    
    <!-- <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a> -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUcUHrh6UEkGE_Pn-XMqHwY_aftv8PJNU&callback=initMap">
    </script>
    <script src="static/mapping.js"></script>

  </body>
</html>