<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css_trials.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
     <title>Hike Finder</title>
  </head>
  <body>
 
    <div class="page-header">
      <h1>HIKE FINDER <small>Where Do You Want To Hike Today?</small></h1>
    </div>
    
    {% if "current_user" in session %}
      <form action="/logout">
          <input type="submit" value="Logout">
      </form>
    {% else %}
      <form action="/login">
          <input type="submit" value="Login">
      </form>
    {% endif %}


    <hr>

    {% for message in get_flashed_messages() %}
      <li> {{ message }}</li>
    {% endfor %}
<!--     <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="..." alt="...">
        </a>
      </div>
    </div> -->

    <hr>

    <div id="map"></div>

    {% block content %} put your content here {% endblock %}

    <!-- <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a> -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUcUHrh6UEkGE_Pn-XMqHwY_aftv8PJNU&callback=initMap">
    </script>
  </body>
</html>