{% extends 'base.html' %}
{% block content %}

    <div class="input-group">
      <form action="/local-hikes">
        <input id="address" name="address" type="text" class="form-control" placeholder="Enter Address">
        <input id="distance" name="distance" type="text" class="form-control" placeholder="Search Radius - optional">
        <button id="submit" type="submit" value="Go">Go!</button>
      </form>
    </div>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUcUHrh6UEkGE_Pn-XMqHwY_aftv8PJNU&callback=initMap">
</script>
<script src="static/mapping.js"></script> 
{% endblock %}
