{% extends 'base.html' %}
{% block content %}


<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <form action="/local-hikes">
        <input type="text" class="form-control" name="address" placeholder="Search for trails near...">
        <input type="text" class="form-control" name="distance" placeholder="Search Radius - optional">

<!--     <div id="floating-panel">
      <input id="address" type="textbox" value="Address">
      <input id="submit" type="button" value="Geocode">
    </div> -->

        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->


{% endblock %}