{% extends 'base.html' %}
{% block content %}

  <h2>Trails Near You</h2>
  <ul>
    {% for trail in dict_of_trails %}
      <li>
         <a href="/trails/{{ dict_of_trails[trail][4] }}" id="43{{ dict_of_trails[trail][5] }}" 
         data-lat="{{ dict_of_trails[trail][1] }}" 
         data-lng="{{ dict_of_trails[trail][2] }}">
        {{ dict_of_trails[trail][0] }}
        </a>
      </li>
    {% endfor %}
  </ul>    

<script src="static/map_marker_clusters.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUcUHrh6UEkGE_Pn-XMqHwY_aftv8PJNU&callback=initMap">
</script>


{% endblock %}
